/* .memory-game-containter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 10vw;
    background-color: #262424;
  }
  
  .board {
    max-width: 900px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    border: #ff36f3 5px solid;
    box-shadow:  0 0 40px #a04995;
    padding: 10px;
    border-radius: 10px;
  }
  
  .card {
    border: #00c8ee 2px solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .figures {
    width: 150px;
    visibility: hidden;
  }
  
  .flipped {
    visibility: visible;
  }

  .hidden {
    visibility: hidden;
  }
  
  .matched {
    background-color: #045565;
    cursor: not-allowed;
  }
   */

   .memory-game-containter {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #262424;
  }
  
  .board {
    max-width: 900px;
    width: 100%; /* Use 100% width for responsiveness */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjusted card width */
    border: #ff36f3 5px solid;
    box-shadow: 0 0 40px #a04995;
    padding: 10px;
    border-radius: 10px;
  }
  
  .card {
    border: #00c8ee 2px solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .figures {
    width: 100%; /* Use 100% width for responsiveness */
    height: auto; /* Maintain aspect ratio */
    visibility: hidden;
  }
  
  .flipped {
    visibility: visible;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  .matched {
    background-color: #045565;
    cursor: not-allowed;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    .board {
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); /* Adjusted card width for smaller screens */
    }
  
    .figures {
      width: 70%; /* Adjusted width for smaller screens */
    }
  }
  
  
  